<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/index.css" charset="utf-8">
    <title>Todd Smells!</title>
</head>
<body>
    <div class="div_main_container">
        <img src="/gifs/<%= gifs[0].gif_path %>.gif" />
        <div class="div_gif_banner">
            <img class="img_gif_banner" src="/small_gifs/apu_rhyme_with_me.gif" />
            <img class="img_gif_banner" src="/small_gifs/bart_dr_butts.gif" />
            <img class="img_gif_banner" src="/small_gifs/bart_jessica_loiter.gif" />
            <img class="img_gif_banner" src="/small_gifs/its_for_you.gif" />
            <img class="img_gif_banner" src="/small_gifs/bart_ultimate_belt_run.gif" />
            <img class="img_gif_banner" src="/small_gifs/burns_excellent_film.gif" />
            <img class="img_gif_banner" src="/small_gifs/bongo_head.gif" />
            <img class="img_gif_banner" src="/small_gifs/bullies_oh_no.gif" />
            <img class="img_gif_banner" src="/small_gifs/captain_iced_tea.gif" />
            <img class="img_gif_banner" src="/small_gifs/grandpa_waterskis.gif" />
            <img class="img_gif_banner" src="/small_gifs/homer_buttons.gif" />
            <img class="img_gif_banner" src="/small_gifs/homer_risky_biz.gif" />
        </div>
        <div class="div_red_banner">TODDSMELLS.com</div>
        <div class="div_quad_container">
            <div class="div_box_1">SUBSCRIBE!</div>
            <div class="div_box_2"></div>
            <div class="div_box_3"></div>
            <div class="div_box_4">SEARCH!</div>
        </div>
    </div>
</body>
</html>