@font-face {
    font-family: "HelveticaNeue-CondensedBold";
    src: url("HelveticaNeue-CondensedBold.otf") format("truetype");
}
@font-face {
    font-family: "Simpsonfont";
    src: url("Simpsonfont.ttf") format("truetype");
}
body, html {
    height: 100%;
    margin: 0;
    background-color: rgb(65, 64, 64);;
    font-family: "HelveticaNeue-CondensedBold";
    overflow: auto;
}
.div_main_container {
    width: 100%;
    height: 100%;
    overflow: auto;
    font-size: 8px;
    color: #ffffff;
}
.div_gifs_container {
    position: absolute;
    top: 50vh;
    width: 100%;
    height: 100%;
    overflow: auto;
    font-size: 8px;
    /* background: rgb(40, 40, 40); */
    /* border: solid 5px red; */
}
.div_red_banner {
    width: 100%;
    position: absolute;
    top: 75px;
    color: white;
    background: red;
    font-size: 40px;
    text-align: center;
    padding: 5px;
    padding-left: 20px;
    text-shadow: 0px 0px 3px black;
    z-index: 1;
}
.div_gif_banner {
    width: 104px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 90%;
    color: white;
    background: black;
    padding: 5px;
    z-index: 2;
}
.div_quad_container {
    width: 610px;
    height: 610px;
    position: absolute;
    top: 50px;
    left: 75px;
    /* background: rgb(179, 179, 179); */
}
.div_box_1 {
    width: 225px;
    height: 300px;
    text-align: center;
    position: absolute;
    top: 0px;
    left: 50px;
    color: white;
    background: rgb(255, 211, 136);
    padding: 5px;
    z-index: 3;
    border-top-left-radius: 1vw;
    border-top-right-radius: 1vw;
    border: solid white 5px;
    font-family: "Simpsonfont";
    font-size: 24px;
    line-height: 18vw;
    text-shadow: 0px 0px 3px black;
}
.div_box_1:hover {
    box-shadow: 0 0 30px white;
}
.div_box_2 {
    width: 300px;
    height: 225px;
    position: absolute;
    top: 50px;
    right: 0px;
    color: rgb(136, 213, 255);
    background: rgb(255, 201, 136);
    padding: 5px;
    z-index: 3;
    border-top-right-radius: 1vw;
    border-bottom-right-radius: 1vw;
    border: solid white 5px;
    background: url("newsletter.jpg");
    background-size: cover;
}
.div_box_3 {
    width: 300px;
    height: 225px;
    position: absolute;
    bottom: 50px;
    left: 0px;
    color: rgb(136, 213, 255);
    background: rgb(136, 213, 255);
    padding: 5px;
    z-index: 3;
    border-top-left-radius: 1vw;
    border-bottom-left-radius: 1vw;
    border: solid white 5px;
    background: url("headline.jpg");
    background-size: cover;
}
.div_box_4 {
    width: 225px;
    height: 300px;
    text-align: center;
    position: absolute;
    bottom: 0;
    right: 50px;
    color: white;
    background: rgb(136, 255, 144);
    padding: 5px;
    z-index: 3;
    border-bottom-right-radius: 1vw;
    border-bottom-left-radius: 1vw;
    border: solid white 5px;
    font-family: "Simpsonfont";
    font-size: 24px;
    line-height: 18vw;
    text-shadow: 0px 0px 3px black;
}
.div_box_4:hover {
    box-shadow: 0 0 30px white;
}
.img_gif_banner {
    /* width: 96px; */
    display: block;
    padding: 4px;
}
h1 {
    font-family: "HelveticaNeue-CondensedBold";
    font-size: 40px;
    color: white;
    text-shadow: 0px 0px 5px black;
}
h2 {
    font-family: "Simpsonfont";
    font-size: 32px;
    color: white;
    text-shadow: 0px 0px 5px black;
}

/* admin styles */

.div_upload_container {
    width: 50vw;
    height: 50vh;
    position: absolute;
    top: 60vh;
    left: 25vw;
    background: rgb(179, 179, 179);
}